# ===== OS =====
.DS_Store
**/.DS_Store

# ===== Rust / Cargo =====
/target/
**/*.rs.bk

# ===== Tauri =====
/gen/schemas

# ===== Frontend =====
node_modules/
frontend/node_modules/
frontend/dist/
dist/

# ===== Local DB =====
*.sqlite
*.db

# ===== Logs =====
*.log

# ===== Env =====
.env
.env.*